<!DOCTYPE html>
<html>
<head>
    <title>ROPOD</title>
    <link href="{{ url_for('static', filename='custom/css/style.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('static', filename='jquery-ui.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('static', filename='jquery-ui.structure.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('static', filename='jquery-ui.theme.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='metisMenu/css/metisMenu.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='sb-admin-2.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='bs_pagination/jquery.bs_pagination.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='jui_filter_rules/minified/jquery.jui_filter_rules.bs.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='bs_grid/minified/jquery.bs_grid.bs2.min.css') }}" rel="stylesheet">

    <script src="{{ url_for('static', filename='jquery-1.11.2.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='jquery-ui.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='metisMenu/js/metisMenu.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='sb-admin-2.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='bs_pagination/jquery.bs_pagination.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='bs_pagination/localization/en.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='jui_filter_rules/minified/jquery.jui_filter_rules.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='jui_filter_rules/minified/localization/en.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='bs_grid/minified/jquery.bs_grid.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='bs_grid/minified/localization/en.min.js') }}" type="text/javascript"></script>
    
    <!--  JQUERY-UI (only sortable and datepicker is needed) -->
    <!--  if timepicker is used in filters -->
    <!--
    <link rel="stylesheet" type="text/css" href="/path/to/jquery-ui-timepicker-addon.min.css"/>
    <script type="text/javascript" src="/path/to/jquery-ui-timepicker-addon.min.js"></script>
    -->
      
    <!--  FILTERS plugin --> 
    <!--  required from filters plugin -->
    <!-- <script type="text/javascript" src="/path/to/moment.min.js"></script> -->
     

    <script type=text/javascript>
      var SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
</head>

<body>
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="/"><i class="fa fa-bar-chart-o fa-fw"></i>Robot status</a>
                        </li>
                        <li>
                            <a href="/black_box"><i class="fa fa-dashboard fa-fw"></i>Black box interface</a>
                        </li>
                        <li>
                            <a href="/real_time_monitoring"><i class="fa fa-dashboard fa-fw"></i>Real-time monitoring</a>
                        </li>
                        <li>
                            <a href="/experiments"><i class="fa fa-bar-chart-o fa-fw"></i>Remote experiments</a>
                        </li>
                        <li>
                            <a href="/schedule_task"><i class="fa fa-dashboard fa-fw"></i>Schedule task</a>
                        </li>
                        <li>
                            <a href="/central_operator_console"><i class="fa fa-dashboard fa-fw"></i>Central operator console</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div id="page-wrapper">
            {% block body %}{% endblock %}
        </div>
    </div>
</body>
</html>
