{% extends "layout.html" %}
{% block body %}

<script>
    var hospital = '';
    var ip_address = '';

    $(document).ready(function() {
        $('#btn_delete').prop('disabled', true);

        $('#hospitals').change(function() {
            if ($(this).val() != 'none') {
                $.ajax({
                    url: SCRIPT_ROOT + '/get_hospital_ips',
                    type: 'get',
                    data: { hospital: $(this).val() },
                    contentType: 'application/json',
                    cache: false
                }).done(function(result) {
                    var ips = result.ips;
                    var html_string = '<option value="none">Choose IP address</option>';
                    for (var i=0; i<ips.length; i++) {
                        html_string += '<option value="' + ips[i] + '">' + ips[i] + '</option>';
                    }
                    $('#ip_addresses').html('');
                    $('#ip_addresses').html(html_string);
                    $('#ip_addresses').prop('disabled', false);
                }).fail(function(jqXHR, status, error) {
                    console.log(error);
                });
            }
            else {
                $('#ip_addresses').html('');
                $('#ip_addresses').prop('disabled', 'disabled');
                $('#btn_delete').prop('disabled', true);
            }
        });

        $('#ip_addresses').change(function() {
            if ($(this).val() != 'none') {
                $('#btn_delete').prop('disabled', false);
            }
            else {
                $('#btn_delete').prop('disabled', true);
            }
        });

        $('#btn_delete').click(function() {
            hospital = $('#hospitals').val();
            ip_address = $('#ip_addresses').val();
            $.ajax({
                url: SCRIPT_ROOT + '/remove_ropod',
                type: 'post',
                data: JSON.stringify({ hospital: hospital, ip_address: ip_address }),
                contentType: 'application/json',
                cache: false
            }).done(function(result) {
                console.log('Ropod successfully removed');
                hospital = '';
                ip_address = '';
                reset_data_panel();
            }).fail(function(jqXHR, status, error) {
                console.log(error);
            });
        });
    });

    function reset_data_panel() {
        $('#hospitals').val('none');
        $('#ip_addresses').html('');
        $('#ip_addresses').prop('disabled', 'disabled');
        $('#btn_delete').prop('disabled', true);
    }
</script>

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Delete ropod</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-2">
        <div class="form-group">
            <select id="hospitals" class="form-control">
                <option value="none">Choose hospital</option>
                {% for key in hospitals %}
                    <option value="{{ key }}">{{ key }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="col-lg-2">
        <div class="form-group">
            <select id="ip_addresses" class="form-control" disabled="disabled"></select>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-1">
        <div class="form-group"><button id="btn_delete" class="btn btn-danger" type="button">Delete ropod</button></div>
    </div>
</div>

{% endblock %}
