{% extends "layout.html" %}
{% block body %}

<style>
.green_dot {
    height: 25px;
    width: 25px;
    background-color: rgb(0, 255, 0);
    border-radius: 50%;
    display: inline-block;
}
.red_dot {
    height: 25px;
    width: 25px;
    background-color: rgb(255, 0, 0);
    border-radius: 50%;
    display: inline-block;
}
</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="{{ url_for('static', filename='datatables/js/jquery.dataTables.js') }}" type="text/javascript"></script>

<script>

    $(document).ready(function() {

        // $('#down_btn').click(function(){
        //     $.ajax({
        //         url: SCRIPT_ROOT+'/ajax_download',
        //         type:'get',
        //         contentType:'application/json',
        //         cache:false
        //     }).done(function(result) {
        //         console.log("file downloaded");
        //     }).fail(function(error){
        //         console.log("ERROR");
        //         console.log(error);
        //     });
        // });
        
    });

    function form_function(){

        ropod_id = 'A42';
        ajax_msg = 'Hello From Ajax';

        $.ajax({
            url: SCRIPT_ROOT+'/ajax_download',
            type:'get',
            data:{
                ropod_id:ropod_id,
                ajax_msg:ajax_msg
            },
            contentType:'application/json',
            cache:false
        }).done(function(result){
            console.log("Ajax_finished_successfully");
            document.getElementById("form1").submit();
        }).fail(function(error){
            console.log("ERROR");
            console.log(error); 
        });
        // document.getElementById("form1").submit();
    }
</script>

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Download test</h1>
    </div>
</div>

<a href="/send_download_file_test" target="blank"><button class="btn btn_default">Download</button></a>

<form id="form1" action="/send_download_file_test">
    <input type="button" name="form_button" onclick="form_function()" value="Ajax Download">
</form>

{% endblock %}
