{% extends "layout.html" %}
{% block body %}

<script>
    var original_hospital = '{{ original_hospital }}';
    var original_ip_address = '{{ original_ip_address }}';

    $(document).ready(function() {
        $('#ropod_hospital').val(original_hospital);

        $('#ropod_ip_address').change(function() {
            if ($(this).val() != '') {
                $('#btn_update').prop('disabled', false);
            }
            else {
                $('#btn_update').prop('disabled', true);
            }
        });

        $('#btn_update').click(function() {
            var hospital = $('#ropod_hospital').val();
            var ip_address = $('#ropod_ip_address').val();
            $.ajax({
                url: SCRIPT_ROOT + '/update_existing_ropod',
                type: 'post',
                data: JSON.stringify({ old_hospital: original_hospital, old_ip_address: original_ip_address, 
                                       new_hospital: hospital, new_ip_address: ip_address }),
                contentType: 'application/json',
                cache: false
            }).done(function(result) {
                window.location = '/manage_ropods'
            }).fail(function(jqXHR, status, error) {
                console.log(error);
            });
        });

        $('#btn_cancel').click(function() {
            window.location = '/manage_ropods';
        });
    });
</script>

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Edit ropod</h1>
    </div>
</div>

<div id="data_container">
    <div class="row">
        <div class="col-lg-1">
            <div class="form-group">Hospital</div>
        </div>
        <div class="col-lg-2">
            <div class="form-group">
                <select id="ropod_hospital" class="form-control">
                    {% for hospital in hospitals %}
                        <option value="{{ hospital }}">{{ hospital }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-1">
            <div class="form-group">IP address</div>
        </div>
        <div class="col-lg-2">
            <div class="form-group"><input id="ropod_ip_address" class="form-control" type="text" value="{{ original_ip_address }}" /></div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-1">
            <div class="form-group"><button id="btn_update" class="btn btn-success" type="button">Update ropod</button></div>
        </div>

        <div class="col-lg-1">
            <div class="form-group"><button id="btn_cancel" class="btn btn-danger" type="button">Cancel changes</button></div>
        </div>
    </div>
</div>

{% endblock %}
