{% extends "layout.html" %}
{% block body %}

<script src="{{ url_for('static', filename='flot/jquery.flot.js') }}" type="text/javascript"></script>

<script>
    var DATA_PLOT = 0;
    var DATA_COMPARISON_PLOT = 1;

    var data = [];
    var data_labels = [];
    var comparison_data = [];
    var comparison_data_labels = [];
    var real_time_plot_update_interval = 500;
    var real_time_data = false;
    var update_plot = false;
    var update_comparison_plot = false;
    var current_variable = null;
    var current_comparison_variable = null;

    $(document).ready(function() {
        $('#data_container').hide();

        $('#start_date').datepicker();
        $('#end_date').datepicker();

        $('#btn_display_data').prop('disabled', true);
        $('#btn_display_data_comparison').prop('disabled', true);
        $('#operation_indicator').hide();

        $('#hospitals').change(function() {
            var hospital = $(this).val();
            if (hospital != 'none') {
                $.ajax({
                    url: SCRIPT_ROOT + '/get_hospital_ips',
                    type: 'get',
                    data: { hospital: hospital },
                    contentType: 'application/json',
                    cache: false
                }).done(function(result) {
                    var ips = result.ips;
                    var html_string = '<option value="none">Choose IP address</option>';
                    for (var i=0; i<ips.length; i++) {
                        html_string += '<option value="' + ips[i] + '">' + ips[i] + '</option>';
                    }
                    $('#ropod_ip_addresses').html('');
                    $('#ropod_ip_addresses').html(html_string);
                    $('#ropod_ip_addresses').prop('disabled', false);
                }).fail(function(jqXHR, status, error) {
                    console.log(error);
                });
            }
            else {
                $('#ropod_ip_addresses').html('');
                $('#ropod_ip_addresses').prop('disabled', 'disabled');
                $('#data_container').hide();
                reset_data_panel();
            }
        });

        $('#ropod_ip_addresses').change(function() {
            var ip_address = $(this).val();
            if (ip_address != 'none') {
                $('#data_container').show();
                $('#check_real_time').prop('disabled', false);
            }
            else {
                $('#data_container').hide();
                $('#check_real_time').prop('disabled', true);
                reset_data_panel();
            }
        });

        $('#variables').change(function() {
            if ($(this).val() == 'none') {
                $('#btn_display_data').prop('disabled', true);
                $('#btn_display_data_comparison').prop('disabled', true);
            }
            else {
                real_time_data = $('#check_real_time').prop('checked');
                if (real_time_data) {
                    $('#btn_display_data').prop('disabled', false);
                    if ($('#plot_placeholder').html() != '') {
                        $('#btn_display_data_comparison').prop('disabled', false);
                    }
                }
                else {
                    if ($('#start_date').val() == 'Start date' || $('#end_date').val() == 'End date') {
                        $('#btn_display_data').prop('disabled', true);
                        $('#btn_display_data_comparison').prop('disabled', true);
                    }
                    else
                    {
                        $('#btn_display_data').prop('disabled', false);
                        if ($('#plot_placeholder').html() != '') {
                            $('#btn_display_data_comparison').prop('disabled', false);
                        }
                    }
                }
            }
        });

        $('#start_date').change(function() {
            var start_date = $(this).val();
            var end_date = $('#end_date').val();
            if (start_date == '') {
                $(this).val('Start date');
                $('#btn_display_data').prop('disabled', true);
                $('#btn_display_data_comparison').prop('disabled', true);
            }
            else {
                if (end_date != 'End date') {
                    $('#btn_display_data').prop('disabled', false);
                    if ($('#plot_placeholder').html() != '') {
                        $('#btn_display_data_comparison').prop('disabled', false);
                    }
                }
            }
        });

        $('#end_date').change(function() {
            var end_date = $(this).val();
            var start_date = $('#start_date').val();
            if (end_date == '') {
                $(this).val('End date');
                $('#btn_display_data').prop('disabled', true);
                $('#btn_display_data_comparison').prop('disabled', true);
            }
            else {
                if (start_date != 'Start date') {
                    $('#btn_display_data').prop('disabled', false);
                    if ($('#plot_placeholder').html() != '') {
                        $('#btn_display_data_comparison').prop('disabled', false);
                    }
                }
            }
        });

        $('#check_real_time').change(function() {
            real_time_data = $(this).prop('checked');
            if (real_time_data) {
                $('#start_date').val('Start date');
                $('#start_date').prop('disabled', 'disabled');
                $('#end_date').val('End date');
                $('#end_date').prop('disabled', 'disabled');
                if ($('#variables').val() != 'none') {
                    $('#btn_display_data').prop('disabled', false);
                    if ($('#plot_placeholder').html() != '') {
                        $('#btn_display_data_comparison').prop('disabled', false);
                    }
                }
            }
            else {
                $('#start_date').val('Start date');
                $('#start_date').prop('disabled', false);
                $('#end_date').val('End date');
                $('#end_date').prop('disabled', false);
                $('#btn_display_data').prop('disabled', true);
                $('#btn_display_data_comparison').prop('disabled', true);
            }
        });

        $('#btn_display_data').click(function() {
            get_data(this.id);
        });

        $('#btn_display_data_comparison').click(function() {
            get_data(this.id);
        });

        $(document).on('change', '.plot_variables', function() {
            var checked = $('.plot_variables:checked');
            display_selected_data(checked, $('#plot_placeholder'), DATA_PLOT);
        });

        $(document).on('change', '.comparison_plot_variables', function() {
            var checked = $('.comparison_plot_variables:checked');
            display_selected_data(checked, $("#comparison_plot_placeholder"), DATA_COMPARISON_PLOT);
        });
    });

    function reset_data_panel() {
        update_plot = false;
        update_comparison_plot = false;
        current_variable = null;
        current_comparison_variable = null;
        $('#variables').val('none');
        $('#start_date').val('Start date');
        $('#end_date').val('End date');
        $('#btn_display_data').prop('disabled', true);
        $('#btn_display_data_comparison').prop('disabled', true);
        $('#operation_indicator').hide();
        $('#plot_placeholder').html('');
        $('#plot_variable_selection').html('');
        $("#comparison_plot_placeholder").html('');
        $('#comparison_plot_variable_selection').html('');
    }

    function get_data(caller_id) {
        var variable = $('#variables').val();
        var ip_address = $('#ropod_ip_addresses').val();
        real_time_data = $('#check_real_time').prop('checked');

        if (!real_time_data) {
            var start_date = $('#start_date').val();
            var end_date = $('#end_date').val();

            var start_date_components = start_date.split('/');
            var end_date_components = end_date.split('/');

            var start_date_obj = new Date(parseInt(start_date_components[2]), parseInt(start_date_components[0])-1, parseInt(start_date_components[1]));
            var end_date_obj = new Date(parseInt(end_date_components[2]), parseInt(end_date_components[0])-1, parseInt(end_date_components[1]));

            var start_time_ms = start_date_obj.getTime();
            var end_time_ms = end_date_obj.getTime();

            $('#operation_indicator').show();

            if (caller_id == 'btn_display_data') {
                current_variable = variable;
                update_plot = false;
                display_data(variable, start_time_ms, end_time_ms, ip_address);
            }
            else if (caller_id == 'btn_display_data_comparison') {
                current_comparison_variable = variable;
                update_comparison_plot = false;
                display_comparison_data(variable, start_time_ms, end_time_ms, ip_address);
            }
        }
        else {
            var start_time_ms = (new Date()).getTime() - 7260000;
            var end_time_ms = (new Date()).getTime();
            if (caller_id == 'btn_display_data') {
                current_variable = variable;
                update_plot = false;
                display_data(variable, start_time_ms, end_time_ms, ip_address);
            }
            else if (caller_id == 'btn_display_data_comparison') {
                current_comparison_variable = variable;
                update_comparison_plot = false;
                display_comparison_data(variable, start_time_ms, end_time_ms, ip_address);
            }
        }
    }

    function display_data(variable, start_time, end_time, ip_address) {
        $.ajax({
            url: SCRIPT_ROOT + '/get_data',
            type: 'get',
            data: { variable: variable, start_time: start_time, end_time: end_time, server_ip: ip_address },
            contentType: 'application/json',
            cache: false
        }).done(function(result) {
            data = result.data;
            data_labels = result.data_labels;

            if (!update_plot) {
                $("#plot_placeholder").html('');
                add_variable_selection_checkboxes($("#plot_variable_selection"), 'plot_variables', data_labels);
            }
            display_selected_data($('.plot_variables:checked'), $("#plot_placeholder"), DATA_PLOT);

            if (real_time_data && (variable == current_variable)) {
                update_plot = true;
                setTimeout(function() {
                    var start_time_ms = (new Date()).getTime() - 7260000;
                    var end_time_ms = (new Date()).getTime();
                    display_data(variable, start_time_ms, end_time_ms, ip_address);
                }, real_time_plot_update_interval);
            }

            $('#operation_indicator').hide();
        }).fail(function(jqXHR, status, error) {
            console.log(error);
            $('#operation_indicator').hide();
        });
    }

    function display_comparison_data(variable, start_time, end_time, ip_address) {
        $.ajax({
            url: SCRIPT_ROOT + '/get_data',
            type: 'get',
            data: { variable: variable, start_time: start_time, end_time: end_time, server_ip: ip_address },
            contentType: 'application/json',
            cache: false
        }).done(function(result) {
            comparison_data = result.data;
            comparison_data_labels = result.data_labels;

            if (!update_comparison_plot) {
                $("#comparison_plot_placeholder").html('');
                add_variable_selection_checkboxes($("#comparison_plot_variable_selection"), 'comparison_plot_variables', comparison_data_labels);
            }
            display_selected_data($('.comparison_plot_variables:checked'), $("#comparison_plot_placeholder"), DATA_COMPARISON_PLOT);

            if (real_time_data && (variable == current_comparison_variable)) {
                update_comparison_plot = true;
                setTimeout(function() {
                    var start_time_ms = (new Date()).getTime() - 7260000;
                    var end_time_ms = (new Date()).getTime();
                    display_comparison_data(variable, start_time_ms, end_time_ms, ip_address);
                }, real_time_plot_update_interval);
            }

            $('#operation_indicator').hide();
        }).fail(function(jqXHR, status, error) {
            console.log(error);
            $('#operation_indicator').hide();
        });
    }

    function add_variable_selection_checkboxes(container, checkbox_class, labels) {
        var html_string = '<div class="form-group">';
        for (var i=0; i<labels.length; i++) {
            html_string += '<div class="checkbox"><label><input class="' + checkbox_class + '" type="checkbox" value="' + i + '" checked="true" />' + labels[i] + '</label></div>';
        }
        html_string += "</div>";
        container.html(html_string);
    }

    function display_selected_data(checked, container, plot_id) {
        var flot_data = [];

        if (plot_id == DATA_PLOT) {
            for (var i=0; i<checked.length; i++) {
                var id = parseInt($(checked[i]).val());
                flot_data.push({ label: data_labels[id], data: data[id] });
            }
        }
        else if (plot_id == DATA_COMPARISON_PLOT) {
            for (var i=0; i<checked.length; i++) {
                var id = parseInt($(checked[i]).val());
                flot_data.push({ label: comparison_data_labels[id], data: comparison_data[id] });
            }
        }
        $.plot(container, flot_data);
    }
</script>

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">ROPOD Remote Monitoring</h1>
    </div>
</div>

<div id="ropod_selection_container">
    <div class="row">
        <div class="col-lg-2">
            <div class="form-group">
                <select id="hospitals" class="form-control">
                    <option value="none">Choose hospital</option>
                    {% for key in hospitals %}
                        <option value="{{ key }}">{{ key }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="form-group">
                <select id="ropod_ip_addresses" class="form-control" disabled="disabled"></select>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="form-group">
                <div class="checkbox">
                    <label><input id="check_real_time" class="checkbox" type="checkbox" disabled="disabled" />Real-time data</label>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="data_container">
    <div class="row">
        <div class="col-lg-2">
            <div class="form-group">
                <select id="variables" class="form-control">
                    <option value="none">Choose variable to display</option>
                    {% for key in variable_keys %}
                        <option value={{ key }}>{{ variable_labels[loop.index-1] }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="form-group"><input id="start_date" class="form-control" type="text" value="Start date" /></div>
        </div>
        <div class="col-lg-2">
            <div class="form-group"><input id="end_date" class="form-control" type="text" value="End date" /></div>
        </div>
        <div class="col-lg-1">
            <div class="form-group"><button id="btn_display_data" class="btn btn-primary" type="button">Display data</button></div>
        </div>
        <div class="col-lg-2">
            <div class="form-group"><button id="btn_display_data_comparison" class="btn btn-primary" type="button">Display data in second plot</button></div>
        </div>
        <div class="col-lg-1">
            <div id="operation_indicator" class="indicator"></div>
        </div>
    </div>

    <div class="col-lg-12">
        <div id="plot_placeholder" class="col-lg-10 data-plot"></div>
        <div id="plot_variable_selection" class="col-lg-2"></div>
    </div>

    <div class="col-lg-12">
        <div id="comparison_plot_placeholder" class="col-lg-10 data-plot"></div>
        <div id="comparison_plot_variable_selection" class="col-lg-2"></div>
    </div>
</div>

{% endblock %}
