{% extends "layout.html" %}
{% block body %}

<script src="{{ url_for('static', filename='flot/jquery.flot.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='custom/js/plot.js') }}" type="text/javascript"></script>

<style>
* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 30%;
    padding: 10px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
</style>

<script>
    var ropod_features = [];
    var ropod_id = undefined;

    var plot = new Plot('plot_placeholder', 'plot_variable_selection', 'plot_variables', '/get_ropod_data');

    $(document).ready(function() {
        $('#data_container').hide();

        $('#start_date').datepicker();
        $('#end_date').datepicker();

        $('#btn_display_data').prop('disabled', true);
        $('#download_btn_form').prop('disabled', true);

        $('#error_message_container').hide();
        $('#info_message_container').hide();
        $('#operation_indicator').show();

        $.ajax({
            url: SCRIPT_ROOT + '/get_blackbox_ids',
            type: 'get',
            contentType: 'application/json',
            cache: false
        }).done(function(result) {
            if (result.message != '')
            {
                $('#error_message_container').show();
                $('#error_message_container_content').html(result.message);
                return;
            }

            $.each(result.ids, function(i, ropod_id){
                $('#ropod_ids').append($('<option>', {
                    value: ropod_id,
                    text: ropod_id
                }));
            });
            $('#operation_indicator').hide();
        }).fail(function(jqXHR, status, error) {
            console.log(error);
            $('#error_message_container').show();
            $('#error_message_container_content').html('An unexpected error has occurred');
            $('#operation_indicator').hide();
        });

        $('#ropod_ids').change(function() {
            if ($(this).val() == "none")
            {
                $('#btn_display_data').prop('disabled', true);
                $('#download_btn_form').prop('disabled', true);

                $('#feature_container').html('');
                $('#data_container').hide();
                plot.reset();
                return;
            }

            ropod_id = $(this).val();
            $.ajax({
                url: SCRIPT_ROOT + '/get_ropod_features',
                type: 'get',
                data: { ropod_id: ropod_id },
                contentType: 'application/json',
                cache: false
            }).done(function(result) {
                if (result.message != '')
                {
                    $('#error_message_container').show();
                    $('#error_message_container_content').html(result.message);
                    return;
                }

                ropod_features = result.ropod_features;
                var html_string = '';
                for (var i=0; i<result.ropod_features.length; i++) {
                    if ( (i % 10) == 0 ) {
                        html_string += '</div>\n<div class="column"><div class="checkbox"><label><input type="checkbox" value="' + ropod_features[i] + '" name= "feature" >' + ropod_features[i] + '</label></div>\n';
                    }
                    else {
                        html_string += '<div class="checkbox"><label><input type="checkbox" value="' + ropod_features[i] + '" name= "feature" >' + ropod_features[i] + '</label></div>\n';
                    }
                }

                $('#feature_container').html('');
                $('#feature_container').html(html_string);
                $('#feature_container').prop('disabled', false);
            }).fail(function(jqXHR, status, error) {
                console.log(error);
                $('#error_message_container').show();
                $('#error_message_container_content').html('An unexpected error has occurred');
            });

            if ( ($('#start_date').val() != "Start date") && ($('#end_date').val() != "End date") && ($('#start_date_time').val()!='') && ($('#end_date_time').val()!='')) {
                $('#btn_display_data').prop('disabled', false);
                $('#download_btn_form').prop('disabled', false);

            }
            $('#data_container').show();
            plot.reset();
        });

        $('#start_date').change(function() {
            var start_date = $(this).val();
            var end_date = $('#end_date').val();
            if (start_date == '')
            {
                $(this).val('Start date');
                $('#btn_display_data').prop('disabled', true);
                $('#download_btn_form').prop('disabled', true);

            }
            else
            {
                if (end_date != 'End date' && $('#ropod_ids').val() != 'none')
                {
                    $('#btn_display_data').prop('disabled', false);
                    $('#download_btn_form').prop('disabled', false);

                }
            }
        });

        $('#end_date').change(function() {
            var end_date = $(this).val();
            var start_date = $('#start_date').val();
            if (end_date == '')
            {
                $(this).val('End date');
                $('#btn_display_data').prop('disabled', true);
                $('#download_btn_form').prop('disabled', true);

            }
            else
            {
                if (start_date != 'Start date' && $('#ropod_ids').val() != 'none')
                {
                    $('#btn_display_data').prop('disabled', false);
                    $('#download_btn_form').prop('disabled', false);

                }
            }
        });

        $('#btn_display_data').click(function() {
            var variable_list = [];
            $.each($("input[name='feature']:checked"), function(){
                variable_list.push($(this).val());
            });

            // check if the user selected a feature or not
            if (variable_list.length == 0)
            {
                $('#info_message_container').show();
                $('#info_message_container_content').html('Please select at least one variable');
                return;
            }

            var start_time = $('#start_date').val();
            var end_time = $('#end_date').val();

            var start_time_hour = $('#start_date_time').val();
            var end_time_hour = $('#end_date_time').val();


            if ((start_time == 'Start date') && (end_time == 'End date') && (start_time_hour == '') && (end_time_hour == ''))
            {
                $('#info_message_container').show();
                $('#info_message_container_content').html('Please select a start and an end time');
                return;
            }
            else if (start_time == 'Start date')
            {
                $('#info_message_container').show();
                $('#info_message_container_content').html('Please select a start date');
                return;
            }
            else if (start_time_hour == '')
            {
                $('#info_message_container').show();
                $('#info_message_container_content').html('Please select a start time');
                return;
            }
            else if (end_time == 'End date')
            {
                $('#info_message_container').show();
                $('#info_message_container_content').html('Please select an end date');
                return;
            }
            else if (end_time_hour == '')
            {
                $('#info_message_container').show();
                $('#info_message_container_content').html('Please select an end time');
                return;
            }

            plot_data(variable_list, start_time, end_time, start_time_hour, end_time_hour);
        });

        $(document).on('change', '.plot_variables', function() {
            plot.display_selected_data();
        });
    });

    function plot_data(variable_list, start_time, end_time, start_time_hour, end_time_hour)
    {
        var start_time_ms = date_str_to_timestamp(start_time);
        var end_time_ms = date_str_to_timestamp(end_time);

        $('#operation_indicator').show();
        plot.display_data(ropod_id, variable_list, start_time_ms, end_time_ms, start_time_hour, end_time_hour);
    }

    function reset_data_panel()
    {
        $('#variables').val('none');
        $('#start_date').val('Start date');
        $('#end_date').val('End date');
        $('#btn_display_data').prop('disabled', true);
        $('#download_btn_form').prop('disabled', true);

        $('#start_date_time').val('');
        $('#end_date_time').val('');

        $('#operation_indicator').hide();
        plot.reset();
    }

    function date_str_to_timestamp(date_str)
    {
        var date_components = date_str.split('/');
        var date_obj = new Date(parseInt(date_components[2]), parseInt(date_components[0])-1, parseInt(date_components[1]));
        var time_ms = date_obj.getTime() / 1000.;
        return time_ms;
    }

    function form_download_function()
    {
        var variable_list = [];
        $.each($("input[name='feature']:checked"), function() {
            variable_list.push($(this).val());
        });

        // check if the user selected a feature or not
        if (variable_list.length == 0)
        {
            $('#info_message_container').show();
            $('#info_message_container_content').html('Please select at least one variable');
            return;
        }

        var start_time = $('#start_date').val();
        var end_time = $('#end_date').val();

        var start_time_hour = $('#start_date_time').val();
        var end_time_hour = $('#end_date_time').val();

        if ((start_time == 'Start date') && (end_time == 'End date') && (start_time_hour == '') && (end_time_hour == ''))
        {
            $('#info_message_container').show();
            $('#info_message_container_content').html('Please select a start and an end time');
            return;
        }
        else if (start_time == 'Start date')
        {
            $('#info_message_container').show();
            $('#info_message_container_content').html('Please select a start date');
            return;
        }
        else if (end_time == 'End date')
        {
            $('#info_message_container').show();
            $('#info_message_container_content').html('Please select an end date');
            return;
        }
        else if (start_time_hour == '')
        {
            $('#info_message_container').show();
            $('#info_message_container_content').html('Please select a start time');
            return;
        }
        else if (end_time_hour == '')
        {
            $('#info_message_container').show();
            $('#info_message_container_content').html('Please select an end time');
            return;
        }

        $.ajax({
            url: SCRIPT_ROOT + '/get_download_query',
            type: 'get',
            data: { ropod_id: ropod_id,
                    start_timestamp: date_str_to_timestamp(start_time),
                    end_timestamp: date_str_to_timestamp(end_time),
                    features: variable_list.join(),
                    start_time_hour:start_time_hour, 
                    end_time_hour:end_time_hour
             },
            contentType: 'application/json',
            cache: false
        }).done(function(result) {
            console.log("Data received and stored successfully");
            document.getElementById("download_form").submit();  //sending the stored data file to the client

            $('#info_message_container').show();
            $('#info_message_container_content').html('Data downloaded successfully');
        }).fail(function(jqXHR, status, error) {
            console.log(error);
            $('#error_message_container').show();
            $('#error_message_container_content').html('An unexpected error has occurred');
        });
    }
</script>

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">ROPOD Remote Monitoring</h1>
    </div>
</div>

<div id="error_message_container" class="alert alert-danger alert-dismissible">
    <a href="#" class="close" onclick="$('.alert').hide()">&times;</a>
    <p id="error_message_container_content"></p>
</div>

<div id="info_message_container" class="alert alert-info alert-dismissible">
    <a href="#" class="close" onclick="$('.alert').hide()">&times;</a>
    <p id="info_message_container_content"></p>
</div>

<div id="ropod_selection_container">
    <div class="row">
        <div class="col-lg-2">
            <div class="form-group">
                <select id="ropod_ids" class="form-control">
                    <option value="none">Choose ropod id</option>
                </select>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="form-group"><input id="start_date" class="form-control" type="text" value="Start date" /></div>
            <div class="form-group">Start time: <input id="start_date_time" class="form-control" type="time" name="Start time" /></div>
        </div>
        <div class="col-lg-2">
            <div class="form-group"><input id="end_date" class="form-control" type="text" value="End date" /></div>
            <div class="form-group">End time: <input id="end_date_time" class="form-control" type="time" name="End time" /></div>
        </div>

        <div class="col-lg-2">
            <div class="form-group"><button id="btn_display_data" class="btn btn-primary" type="button">Display data</button></div>
        </div>

        <div class="col-lg-2">
            <div class="form-group">
                <form id="download_form" action="/send_download_file">
                    <input id="download_btn_form" class="btn btn-primary" type="button" name="download_btn_form" onclick="form_download_function()" value="Download data">
                </form>
            </div>
        </div>

        <div class="col-lg-1">
            <div id="operation_indicator" class="indicator"></div>
        </div>
    </div>
</div>

<div id="feature_container" disabled="disabled">
    <div class="panel panel-default">

    </div>
</div>

<div id="data_container">
    <div class="col-lg-12">
        <div id="plot_placeholder" class="col-lg-10 data-plot"></div>
        <div id="plot_variable_selection" class="col-lg-2"></div>

    </div>
</div>

{% endblock %}
